.otherProducts {
  height: 440px;
  margin: 0px 32px;
}

.otherProducts__title {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
}

.otherProducts__title span {
  font-size: 20;
  font-weight: 600;
}

.otherProducts__title p {
  color: #40b25c;
  font-size: 12;
  font-weight: 700;
  text-transform: uppercase;
}
