.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 75px;
}

.logo {
  background: url(../../images/logo.png) center / cover no-repeat;
  height: 40px;
  width: 100px;
}

.search__input {
  background: url(../../images/search.svg) 854px center / 24px no-repeat;
  border: 1px solid #9fa3a6;
  border-radius: 4px;
  height: 48px;
  padding-left: 20px;
  width: 902px;
}

.login {
  align-items: center;
  background: url(../../images/user.svg) left center / 18px no-repeat;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  text-transform: uppercase;
  width: 109px;
}

.login:hover {
  cursor: pointer;
}

.wishes {
  align-items: center;
  background: url(../../images/wishlist.svg) left center / 18px no-repeat;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  text-transform: uppercase;
  width: 123px;
}

.wishes:hover {
  cursor: pointer;
}

.bag button {
  background: url(../../images/bag_shopping.svg) center / cover no-repeat;
  border: 0 none;
  height: 24px;
  width: 24px;
}

.bag button::before {
  content: "0";
  background-color: #e36305;
  border-radius: 14px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 2%;
  width: 20px;
}
